.headerHolder{
    padding-left: 5vw;
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 40vw;
    align-items: center;
}

.headerOptions{
    color: rgb(31, 72, 255);
    border: 2px solid black;
    padding-top: 5px;
    border-radius: 20px;
    height: fit-content;
    cursor: pointer;
}

.titleHolder{
    display: flex;
    height: fit-content;
}

.title{
    display: flex;
    justify-content: center;
    width: fit-content;
    font-size: 4rem;
    font-weight: 900;
    padding-left: 19vw;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.subHeadingHolder{
    display: flex;
    /*the code one line below reduces the gap between title and subtitle, it is a bit doggy but i cant find a better work around*/
    margin-top: -50px;
    width:80vw;
    text-align: center;
}

.subTitle{

    display: flex;
    padding-left: 19vw;
    font-size: 28px;
    font-weight: 500;
}
.mainPage{
    border: 3px ;
    display: flex;
    justify-content: space-around;
    height: 500px;


}
.mainPageItems{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;

}

.text{
    display: flex;
    justify-content: space-between;
}

.footer{
    color: rgb(31, 72, 255);
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 2px;
    left: 0px;
    right: 0px;
}

.footerOptions {
    color: rgb(31, 72, 255);
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
